body {
    background-color: lightblue;
}

header {
    text-align: left;
    background-color: green;
}

footer {
    width: auto;
    text-align: center;
    background-color: red;
}

p {
    font: 100;
    font-family: 'Courier New', Courier, monospace;
}

li {
    display: inline;
}

.contact_button {
    max-width: 5%;
    height: auto;
}

